body {
  padding-top: 60px;
  background-color: #FFF;
}

.container {
  width: 90%;
}

.navbar {
  background-color:rgba(64, 153, 255, 0.02)
}

th small {
  color: #999;
}

.profile {
  height: 24px;
  margin-right: 4px;
}


