body {
  padding-top: 60px;
  background-color: #FFF;
}

.container {
  width: 90%;
}

.navbar {
  background-color:rgba(64, 153, 255, 0.02)
}

th small {
  color: #999;
}

.profile {
  height: 24px;
  margin-right: 4px;
}

.form-datetimepicker {
  padding-right: 15px; 
  padding-left: 15px;
  margin-bottom: 0px;
}

.panel-default>.panel-heading {
    background-color: rgba(64, 153, 255, 0.02);
    color: #2a6496;
}

.link_external {
	margin-top: 8px;
	
}