{% extends "base.html" %}

{% block content %}

<script language="JavaScript1.2">

$(document).ready(function(){
	Page.init('{{request.user.username}}');
});

</script>

<a href="/collection/new" class="btn btn-small btn-primary pull-right">New Collection Pipeline</a>
<h2>Collection Pipelines</h2>

<p>Pipe tweets from users in an existing Twitter List to a Collection.</p>

<table class="table table-hover">
<thead>
<th>Name</th>
<th>List</th>
<th>Collection</th>
<th>Start</th>
<th>Block words</th>
<th>Min (RT/Fav/Eng)</th>
<!--
<th>Include RT</th>
-->
<th width="15%">Actions</th>
</thead>

{% if collections %}
{% for c in collections %}

<tr>
<td><a href={{ c.edit_url }}>{{ c.name }}</a></td>
<td><a href="https://twitter.com/rchoi/lists/{{c.list_slug}}" target="_target">{{ c.list_name }}</a></td>
<td><a href="https://twitter.com/rchoi/timelines/{{c.collection_id|slice:"7:"}}" target="_target">{{ c.collection_name }}</a></td>
<td>{{c.start_date|date:"Y-m-d H:i" }}</td>
<td>{{ c.block_words }}</td>
<td>{{ c.retweet_count }}/{{ c.favorite_count }}/{{ c.engagement_count }}</td>
<!--
<td>{% if c.include_retweets %}<i class="fa fa-check"></i>{% endif %}</td>
-->
<td>
	<a href="{{ c.edit_url }}">Edit</a>
	|
	<a data-id="{{c.id}}" class="process">Process</a>
	|
	<a href="{{ c.delete_url }}">Delete</a>
</td>
</tr>

{% endfor %}
{% else %}

<tr><td colspan="5" class="text-center">

No collections.

</td></tr>

{% endif %}
</table>

{% endblock %}