{% extends "base.html" %}

{% block content %}

<script language="JavaScript1.2">

$(document).ready(function(){

Page.init();
	
});

</script>

{% if list %}

<h3>
	{{ list.name }}{% if list.description %}: {{ list.description }} {% endif %} <small> {{results.items|length}} {% if results.items|length == 1 %} member {% else %} members {% endif %} </small>
	
	<button class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#myModal">Share Collections </button>
</h3>

{% endif %}

<h3> 
	Collection Pipeline{% if coll.name %}: {{coll.name}} {% endif %}
</h3>

<form class="form-horizontal" action="{{ coll.edit_url }}" method="post">
<input type="hidden" name="id" id="id" value="{% if coll.id %}{{coll.id}}{% endif %}">
<input type="hidden" name="list_name" id="list_name" value="">
<input type="hidden" name="collection_name" id="collection_name" value="">
<div class="row">
  <div class="col-md-6">
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label"><h4 class="pull-left">Details</h4></label>
    <div class="col-sm-8">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Details</label>
    <div class="col-sm-8">
    	<input type="text" class="form-control" name="name" value="{{coll.name}}">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Source list <i class="fa fa-info-circle help" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="auto" data-content="List of users to include in Collections "></i></label>
    <div class="col-sm-8">
	  	<select class="form-control" name="list_slug" id="list_slug">
	  	<option value="">-- Select one --</option>
	  	
	  		{% if settings.OFFLINE %}
  			<option value="team-jbulava" >offline - Team - Jbulava (1)</option>
  			<option value="dpr-platform" >offline - DPR Platform: DPR Platform (4)</option>
  			{% endif %}
  			  			
	  	{% for l in lists %}
  			<option value="{{ l.slug }}" {% if l.slug == coll.list_slug %}SELECTED{% endif %}>{{ l.name }}{% if l.description %}: {{ l.description }}{% endif %} {% if l.member_count %}({{l.member_count}}){% endif %}</option>
  		{% endfor %}
  	  	</select>
  	  	<p>
  	  		<a id="link_lists" href="https://twitter.com/{{request.user.username}}/lists/" class="small pull-right link_external" target="_target">View lists</a>
  	  	</p>
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Collection <i class="fa fa-info-circle help" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="auto" data-content="List of users to exclude from reply_to and retweet_of activity"></i></label>
    <div class="col-sm-8">
	  	<select class="form-control" name="collection_id" id="collection_id">
	  	<option value="">-- Select one --</option>
	  	
	  		{% if settings.OFFLINE %}
  			<option value="custom-630943362581860352" >offline - jbulavacollection</option>
  			<option value="custom-641707644063866880" >offline - TwitterFlight</option>
  			{% endif %}
	  	
	  	{% for l in collections %}
  			<option value="{{ l.id }}" {% if l.id == coll.collection_id %}SELECTED{% endif %}>{{ l.name }}{% if l.description %}: {{ l.description }}{% endif %}</option>
  		{% endfor %}
  			<option value="new" >-- Create collection --</option>
  	  	</select>
  	  	<p>
  	  		<a id="link_collection" class="small pull-right link_external" target="_target">View collection</a>
  	  	</p>
    </div>
  </div>  
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label"><h4 class="pull-left">Filter criteria</h4></label>
    <div class="col-sm-8">
    </div>
  </div>


  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Block words <i class="fa fa-info-circle help" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="auto" data-content="If a tweet contains any of these words, it will not be included in the collection."></i></label>
    <div class="col-sm-8">
        <textarea class="form-control" rows="3" name="block_words">{% if coll.block_words %}{{coll.block_words}}{% endif %}</textarea>
    </div>
  </div>  
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Min retweets <i class="fa fa-info-circle help" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="auto" data-content="Only tweets with a minimum of this many retweets is included"></i></label>
    <div class="col-sm-2">
    	<input type="text" class="form-control" name="retweet_count" value="{{coll.retweet_count}}">
    </div>
  </div>  

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Min favorites <i class="fa fa-info-circle help" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="auto" data-content="Only tweets with a minimum of this many favorites is included"></i></label>
    <div class="col-sm-2">
    	<input type="text" class="form-control" name="favorite_count" value="{{coll.favorite_count}}">
    </div>
  </div>  

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Min engmts <i class="fa fa-info-circle help" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="auto" data-content="Only tweets with a minimum of this many engagements (retweets + favorites) is included"></i></label>
    <div class="col-sm-2">
    	<input type="text" class="form-control" name="engagement_count" value="{{coll.engagement_count}}">
    </div>
  </div>  

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label"></label>
    <div class="col-sm-9">
    	<input type="checkbox" name="include_retweets" value="1" {% if coll.include_retweets %}CHECKED{% endif %}> &nbsp;Include user retweets in collection 
    </div>
  </div>  
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label"></label>
    <div class="col-sm-9">
    	<button type="submit" id="save" class="btn btn-primary">Save</button>
    	{% if coll.id %}
    	<a data-id="{{coll.id}}" id="process" class="btn btn-default">Save and populate tweets</a>
    	{% endif %}
    </div>
  </div>


  </div>
  <div class="col-md-6">
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-5 control-label"><h4 class="pull-left">Example</h4></label>
    <div class="col-sm-7">
    </div>
  </div>

    
  <div class="form-group">
    <div class="col-sm-12">
    
    <div class="well">
    	Coming soon...
    </div>
    
<!--    
<a class="twitter-timeline" href="https://twitter.com/rchoi/timelines/641707644063866880" data-widget-id="649357937056477184">TwitterFlight</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
-->

    </div>
  </div>  
    
  </div>
</div>

</form>

{% endblock %}