{% extends "base.html" %}

{% block content %}

{% if list %}

<h3>
	{{ list.name }}{% if list.description %}: {{ list.description }} {% endif %} <small> {{results.items|length}} {% if results.items|length == 1 %} member {% else %} members {% endif %} </small>
	
	<button class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#myModal">Share Collections </button>
</h3>

{% endif %}

<h3> 
	Collection Pipeline{% if coll.name %}: {{coll.name}} {% endif %}
</h3>

<form class="form-horizontal" action="{{ coll.edit_url }}" method="post">{% csrf_token %}
<input type="hidden" name="id" id="id" value="{% if coll.id %}{{coll.id}}{% endif %}">
<input type="hidden" name="list_name" id="list_name" value="">
<input type="hidden" name="collection_name" id="collection_name" value="">
<div class="row">
  <div class="col-md-6">
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label"><h4 class="pull-left">Details</h4></label>
    <div class="col-sm-8">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Details</label>
    <div class="col-sm-8">
    	<input type="text" class="form-control" name="name" value="{{coll.name}}">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Source list <i class="fa fa-info-circle help" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="auto" data-content="List of users to include in Collections "></i></label>
    <div class="col-sm-8">
	  	<select class="form-control" name="list_slug" id="list_slug">
	  	<option value="">-- Select one --</option>
  			<option value="{{request.user.username}}">My tweets</option>
	  		{% if settings.OFFLINE %}
  			<option value="dpr-platform" SELECTED>offline - DPR Platform: DPR Platform (4)</option>
  			{% endif %}
  			  			
	  	{% for l in lists %}
  			<option value="{{ l.slug }}" {% if l.slug == coll.list_slug %}SELECTED{% endif %}>{{ l.name }}{% if l.description %}: {{ l.description }}{% endif %} {% if l.member_count %}({{l.member_count}}){% endif %}</option>
  		{% endfor %}
  			<option value="new" >-- Create new list --</option>

  	  	</select>
  	  	<a id="link_list" class="small pull-right link_external" target="_target">View list</a>
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Collection <i class="fa fa-info-circle help" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="auto" data-content="List of users to exclude from reply_to and retweet_of activity"></i></label>
    <div class="col-sm-8">
	  	<select class="form-control" name="collection_id" id="collection_id">
	  	<option value="">-- Select one --</option>
	  	
	  		{% if settings.OFFLINE %}
  			<option value="custom-630943362581860352" SELECTED>offline - jbulavacollection</option>
  			<option value="custom-641707644063866880" >offline - TwitterFlight</option>
  			{% endif %}
	  	
	  	{% for l in collections %}
  			<option value="{{ l.id }}" {% if l.id == coll.collection_id %}SELECTED{% endif %}>{{ l.name }}{% if l.description %}: {{ l.description }}{% endif %}</option>
  		{% endfor %}
  			<option value="new" >-- Create new collection --</option>
  	  	</select>
  	  	<a id="link_collection" class="small pull-right link_external" target="_target">View collection</a>
    </div>
  </div>  
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label"><h4 class="pull-left">Filter criteria</h4></label>
    <div class="col-sm-8">
    </div>
  </div>

  <div class="form-group">
	<label for="inputEmail3" class="col-sm-3 control-label">Start date <i class="fa fa-info-circle help" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="auto" data-content="Tweets created prior to this date will not be considered."></i></label>
	<div class="col-sm-5">
	  <div class=" input-group date datetimepicker">
	  <input type="text" class="form-control input-sm" name="start_date" placeholder="" value="{{coll.start_date|date:"Y-m-d H:i" }}">
	  <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
	  </div>
	</div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Block words <i class="fa fa-info-circle help" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="auto" data-content="If a tweet contains any of these words, it will not be included in the collection."></i></label>
    <div class="col-sm-8">
        <textarea class="form-control" rows="3" name="block_words">{% if coll.block_words %}{{coll.block_words}}{% endif %}</textarea>
    </div>
  </div>  
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Min retweets <i class="fa fa-info-circle help" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="auto" data-content="Only tweets with a minimum of this many retweets is included"></i></label>
    <div class="col-sm-2">
    	<input type="text" class="form-control" name="retweet_count" value="{{coll.retweet_count}}">
    </div>
  </div>  

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Min favorites <i class="fa fa-info-circle help" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="auto" data-content="Only tweets with a minimum of this many favorites is included"></i></label>
    <div class="col-sm-2">
    	<input type="text" class="form-control" name="favorite_count" value="{{coll.favorite_count}}">
    </div>
  </div>  

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Min engmts <i class="fa fa-info-circle help" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="auto" data-content="Only tweets with a minimum of this many engagements (retweets + favorites) is included"></i></label>
    <div class="col-sm-2">
    	<input type="text" class="form-control" name="engagement_count" value="{{coll.engagement_count}}">
    </div>
  </div>  

<!--
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label"></label>
    <div class="col-sm-9">
    	<input type="checkbox" name="include_retweets" value="1" {% if coll.include_retweets %}CHECKED{% endif %}> &nbsp;Include user retweets in collection 
    </div>
  </div>
-->  
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label"></label>
    <div class="col-sm-9">
    	<button type="submit" id="save" class="btn btn-primary">Save</button>
<!--
    	{% if coll.id %}
    	<a data-id="{{coll.id}}" id="process" class="btn btn-default">Save and populate tweets</a>
    	{% endif %}
-->
    </div>
  </div>


  </div>
  <div class="col-md-6">
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-5 control-label"><h4 class="pull-left">Collection Preview</h4></label>
    <div class="col-sm-7">
    </div>
  </div>

    
  <div class="form-group">
    <div class="col-sm-12" id="collection_preview">
    
    </div>
  </div>  
    
  </div>
</div>

</form>

{% verbatim %}
<script id="loadingTemplate" type="text/template">
<div class="well">
	A preview of the collection will appear here.
</div>
</script>

<script id="collectionTemplate" type="text/template">
<a class="twitter-timeline" href="https://twitter.com/rchoi/timelines/{{collection_id}}" data-widget-id="649841039650390016" data-custom-timeline-id="{{collection_id}}">{{collection_name}}</a>
</script>
{% endverbatim %}

<script language="JavaScript1.2">

window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));

window.twttr.ready(function(){
	Page.init('{{request.user.username}}', '{{coll.list_slug}}', '{{coll.collection_id}}');	
});

</script>

{% endblock %}