{% extends "base.html" %}

{% block content %}

<form action="/home" method="post">{% csrf_token %}
  <select name="list">
  	{% for l in lists %}
  		<option value="{{ l.id }}">{{ l.name }} ({{ l.description }})</option>
  	{% endfor %}
  </select>
  <input type="submit" value="Calculate">
</form>

<br>

{% if results %}
  
  <table>
  <tr>
  		<th>user</th>
  		<th>retweet_count</th>
  		<th>favorite_count</th>
  		<th>reply_to</th>
  		<th>retweets_to</th>
  </tr>
  
  {% for k, v in results.items %}
  	<tr>
  		<td>{{ k }}</td>
  		<td>{{ v.retweet_count }}</td>
  		<td>{{ v.favorite_count }}</td>
  		<td>{{ v.reply_to }}</td>
  		<td>{{ v.retweets_to }}</td>
    </tr>
  {% endfor %}
  
  </table>
  
{% endif %}

{% endblock %}