{% extends "base.html" %}

{% block content %}

<br>

{% if results %}
  
  <table>
  <tr>
  		<th>user</th>
  		<th>retweet_count</th>
  		<th>favorite_count</th>
  		<th>reply_to</th>
  		<th>retweets_to</th>
  </tr>
  
  {% for k, v in results.items %}
  	<tr>
  		<td>{{ k }}</td>
  		<td>{{ v.retweet_count }}</td>
  		<td>{{ v.favorite_count }}</td>
  		<td>{{ v.reply_to }}</td>
  		<td>{{ v.retweets_to }}</td>
    </tr>
  {% endfor %}
  
  </table>
  
{% else %}

  No results.

{% endif %}

{% endblock %}