{% extends "base.html" %}

{% block content %}

{% if list %}

<h3>
	{{ list.name }}{% if list.description %}: {{ list.description }} {% endif %} <small> {{results.items|length}} {% if results.items|length == 1 %} member {% else %} members {% endif %} </small>
	
	<a href="https://twitter.com/rchoi/lists/{{ list.slug }}" class="btn btn-default btn-sm pull-right" target="_target">Share leaderboard</a>
	<div class="pull-right" style="width: 8px;">&nbsp;</div>
	<a href="https://twitter.com/rchoi/lists/{{ list.slug }}" class="btn btn-default btn-sm pull-right" target="_target">View list</a>

</h3>

{% endif %}

{% if chart %}

<div id="chart"></div>

<script language="JavaScript1.2">

var users = [{% for u in users %} "{{ u }}", {% endfor %}];

var chart = c3.generate({
    data: {
        columns: {{ chart.columns|escape|safe }},
        type: 'bar',
        groups: {{ chart.groups|escape|safe }},
        count: 1,
    },
    axis: {
        x: {
            tick: {
                culling: true,
                format: function (x) {
                    return users[x];
                }
            }
        }
    },
    grid: {
        y: {
            lines: [{value:0}]
        }
    }
});

</script>

{% endif %}

{% if results %}
  
<h3> Details </h3>

<table class="table table-striped">
  <tr>
  		<th>user</th>
  		<th>tweets <small>{{settings.tweet_count}}</small></th>
  		<th>retweet_count <small>{{settings.retweet_count}}</small></th>
  		<th>favorite_count <small>{{settings.favorite_count}}</small></th>
  		<th>reply_to <small>{{settings.reply_to}}</small></th>
  		<th>retweets_to <small>{{settings.retweets_to}}</small></th>
  		<th>points</th>
  </tr>
  
  {% for k, v in results.items %}
  	<tr>
  		<td><a href="https://twitter.com/{{ k }}" target="_target">{{ k }}</a></td>
  		<td>{{ v.count.tweet_count }}</td>
  		<td>{{ v.count.retweet_count }}</td>
  		<td>{{ v.count.favorite_count }}</td>
  		<td>{{ v.count.reply_to }}</td>
  		<td>{{ v.count.retweets_to }}</td>
  		<td>{{ v.points.total }}</td>
    </tr>
  {% endfor %}
  
</table>
  
{% endif %}

{% if not request.user.is_superuser %}

<h3> Criteria </h3>

<form class="form-horizontal" action="/home" method="get">

<div class="row">
  <div class="col-md-6">
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label"><h4>Scope</h4></label>
    <div class="col-sm-8">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">List</label>
    <div class="col-sm-8">
	  	<select class="form-control" name="list">
	  	{% for l in lists %}
  			<option value="{{ l.id }}">{{ l.name }} ({{ l.description }})</option>
  		{% endfor %}
  	  	</select>
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Days</label>
    <div class="col-sm-8">
    	<input class="form-control" type="text" name="days" value="{{ settings.days }}">
    </div>
  </div>
  
  </div>
  <div class="col-md-6">
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label"><h4>Points</h4></label>
    <div class="col-sm-8">
    </div>
  </div>


  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">tweet_count</label>
    <div class="col-sm-8">
    	<input class="form-control" type="text" name="tweet_count" value="{{ settings.tweet_count }}">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">retweet_count</label>
    <div class="col-sm-8">
    	<input class="form-control" type="text" name="retweet_count" value="{{ settings.retweet_count }}">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">favorite_count</label>
    <div class="col-sm-8">
    	<input class="form-control" type="text" name="favorite_count" value="{{ settings.favorite_count }}">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">reply_to</label>
    <div class="col-sm-8">
    	<input class="form-control" type="text" name="reply_to" value="{{ settings.reply_to }}">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">retweets_to</label>
    <div class="col-sm-8">
    	<input class="form-control" type="text" name="retweets_to" value="{{ settings.retweets_to }}">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label"></label>
    <div class="col-sm-8">
    	<button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
  
  </div>
</div>

</form>

{% endif %}

{% endblock %}